In [40]:
import pandas as pd

df = pd.read_csv('datasets/churn.csv')

df.columns
df.shape

(5986, 21)

In [71]:
new_feature={
"customerID":"Malek",
"gender": "Female",
"SeniorCitizen": 0,
"Partner": "No",
"Dependents": "No",
"tenure": 44,
"PhoneService": "Yes",
"MultipleLines": "No",
"InternetService": "Fiber optic",
"OnlineSecurity": "No",
"OnlineBackup": "Yes",
"DeviceProtection": "Yes",
"TechSupport": "No",
"StreamingTV": "Yes",
"StreamingMovies": "No",
"Contract": "Month-to-month",
"PaperlessBilling": "Yes",
"PaymentMethod": "Credit card (automatic)",
"MonthlyCharges": 88.15,
"TotalCharges": 3973.2, 
} 

new_feature2={
"customerID": "malek2",	
"gender": "Male",	
"SeniorCitizen":0,
"Partner": "Yes",	
"Dependents":"No",	
"tenure": 14,	
"PhoneService": "No",	
"MultipleLines": "No phone service",
"InternetService":"DSL",	
"OnlineSecurity":"No",	
"OnlineBackup": "No",	
"DeviceProtection":"No"	,
"TechSupport":"No",	
"StreamingTV":"Yes"	,
"StreamingMovies":"Yes"	,
"Contract": "Month-to-month",	
"PaperlessBilling":"No" ,
"PaymentMethod": "Electronic check"	,
"MonthlyCharges": 46.35	,
"TotalCharges": 667.7	
}

#new_feature=pd.DataFrame([new_feature])
new_feature

{'customerID': 'Malek',
 'gender': 'Female',
 'SeniorCitizen': 0,
 'Partner': 'No',
 'Dependents': 'No',
 'tenure': 44,
 'PhoneService': 'Yes',
 'MultipleLines': 'No',
 'InternetService': 'Fiber optic',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'Yes',
 'TechSupport': 'No',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'No',
 'Contract': 'Month-to-month',
 'PaperlessBilling': 'Yes',
 'PaymentMethod': 'Credit card (automatic)',
 'MonthlyCharges': 88.15,
 'TotalCharges': 3973.2}

In [72]:
indexfeature=df.shape[0]+1
df=df.append(pd.DataFrame([new_feature2], index=[indexfeature],columns=df.columns))
df.shape

#r=newdf.loc[newdf["customerID"]=='7010-BRBUU']
r=df.loc[df["customerID"]=='Malek']
#df.tail()
r

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
5987,Malek,Female,0,No,No,44,Yes,No,Fiber optic,No,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88.15,3973.2,NaN
5988,Malek,Female,0,No,No,44,Yes,No,Fiber optic,No,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88.15,3973.2,NaN
5989,Malek,Female,0,No,No,44,Yes,No,Fiber optic,No,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88.15,3973.2,NaN

In [74]:
from sklearn.preprocessing import StandardScaler
df_clean = df.copy()
df_clean=df_clean.drop(columns=['customerID'])
df_clean.TotalCharges = pd.to_numeric(df_clean.TotalCharges, errors = 'coerce')
df_clean['TotalCharges'] = df_clean['TotalCharges'].fillna(0)
for key,col in enumerate(df_clean.loc[:, df_clean.dtypes == object]):
    df_clean[col].replace(df_clean[col].unique(),list(range(0,len(df_clean[col].unique()))),inplace=True)
# Data separation for modelisation:
X = df_clean.drop("Churn", axis = 1)
y = df_clean.Churn

# Data standardisation:
scaler=StandardScaler()
X_scaled_=scaler.fit(X).transform(X)
X_scaled=pd.DataFrame(scaler.fit(X).transform(X))
X_scaled_unbalaleced, y_unbalaleced = X_scaled, y

In [76]:
#retrouver notre éléments dans les données standardisés à l'aide de l'index
import numpy  as np
X_new_feature=X_scaled.iloc[indexfeature-1]

model="knn"

#Chargement des models
with open('models.bin', 'rb') as fichier:
        models= joblib.load(fichier)
#Vérification de la présence du model souhaité
for m in models.keys():
    if model == m : 
        X_new_feature=X_new_feature.values.reshape(1,-1)
        print(models[m]["model"].predict(X_new_feature)[0]) 
    else: 
        pass
        #return models[m].fit()

1

In [73]:
indexfeature

5990